*{
  margin: 0px;
  padding: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
  background-image: url(./image/header.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:auto;
  position: sticky;
  top: 0;
}
h1{
  font-size: clamp(3em, 5vw, 11em);
  color: blanchedalmond;
  padding:15px 35px 25px;
}
h2{
text-align: center;
  margin: 30px;
}
span{
  color: brown;
}

.card-section{
  display:flex;
  justify-content:center;
  gap:5rem;
  flex-wrap: wrap;
}
.card{
  border: 2px solid blue;
  width: 231px;
  height: auto;
  flex-wrap: wrap;
  box-shadow: rgb(20, 79, 206) 5px 5px 10px;
}
.name {
  text-align: center;
}
.pic-wrapper{
  display: flex;
  justify-content: center;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  border: khaki 2px solid;
  margin: 20px auto;
}

p{

  text-align: center;
  
}
.cardul{
  border-top: solid 1px blue;
  display: flex;
  justify-content: space-between;
  gap: 1px;
  list-style: none;
}
.cardnav {
  display: flex;
  height: 30px;
  justify-content: center;
  background-color: cadetblue;
  width: 115px;
  margin-top: 5px;
}
.cta{
  width: 150px;
  height: auto;
  background-color: rgb(8, 72, 247);
  margin: 20px auto;
  padding-bottom: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 125%;
}
a{
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align:center;
  padding-top: 5px;
  text-decoration: none;
 color: whitesmoke;
}
.introduce{
  padding: 20px;
}
.content{
  display: block;
  text-align: center;
  widows: 231px;
  height: 130px;
  margin: 5px auto;
  padding:15px 5px;
  color: rgb(77, 76, 76);
  max-width: 20ch;
}
.navi{
  list-style: none;
}
.navi-a{
  color: rgb(197, 91, 118);
  font-size: clamp(1.3em, 1.5vw,2em);
}
.navi-a:hover{
  color: beige;
  font-weight: bolder;
}
.navi{
  display: flex;
  justify-content: end;
  gap: 90px;
  padding-right: 20px;
}
@media screen and (max-width: 800px) {
  .navi{
    display: block;
    padding: 15px;
    background-color: transparent;
  }
  .navi a{
    color:cadetblue;
    font-weight: bolder;
  }
  h1{
   text-align: center;
  }
}
footer{
  text-align: center;
  padding:15px;
  background-color: black;
  color: #ddd;
  margin-top: 50px;
}
.pictures{
  max-width: 600px;
 margin: 0 auto;
    }
    #girl{
      width: 100%;
    }
    .paragraph{
      max-width: 75ch;
      text-align: center;
      margin: 0 auto;
      border: 2px solid black;
      border-radius: 10px;
      padding: 5px;
    }
  